:root {
  --main-text-color: #121417;
  --secondary-text-color: rgba(18, 20, 23, 0.5);
  --third-text-color: #363535;
  --fourth-text-color: #8a8a89;
  --fifth-text-color: rgb(197, 197, 205);
  --six-text-color: rgba(18, 20, 23, 0.2);
  --blue: #0242d7;
  --white: #ffffff;
  --hover-focus-color: #0939a9;
  --main-font-family: "Manrope";
  --secondary-font-family: "Montserrat";
  --bg-color: #080808;
  --second-bg-color: #f7f7fb;
  --third-bg-color: rgba(18, 20, 23, 0.1);
  --fourth-bg-color: #f9f9f9;
  --backdrop-bg-color: rgba(18, 20, 23, 0.5);
  --modal-bg-color: #ffffff;
}

body {
  font-family: "Manrope", sans-serif;
  color: var(--main-text-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 128px;
}
