.catalog {
  padding-bottom: 50px;
  min-height: calc(100vh - 180px);
}

.loadMoreBtn {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  color: var(--blue);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration-line: underline;
}

.loadMoreBtn:hover,
.loadMoreBtn:focus {
  color: var(--hover-focus-color);
}

.loader {
}
